.container{
    width: 700px;
    height: 600px;
    border: 8px solid rgb(240, 49, 49);
    border-radius: 8%;
    margin-top: 50px;
}
.header{
    text-align: center;
    height: 180px;
    padding: 30px;
}
.content-form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 5px solid rgb(29, 33, 248);
    padding: 10px;
}
.input-form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 20px;
    width: 70%;

}

.button{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;

}
#btn-submit, #btn-cancel{
    margin-top: 15px;
}
